<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>

    <p> <strong> <%= t 'new_contact_request' %> </strong> </p>


    <p> <%= t 'message' %> : <%= @contact.message %> </p>

    
    <p>

      <strong>Sender Details:</strong><br>

      <%= t 'first_name' %>    : <%= @contact.first_name %> .<br>
      <%= t 'last_name' %>     : <%= @contact.last_name %> .<br>
      <%= t 'email' %>         : <%= @contact.email %> .<br>
      <%= t 'phone_number' %>  : <%= @contact.phone_number %> .<br>
      
    </p>

    
  </body>
</html>